
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Welcome Admin</h2>

<a href=@Url.Action("Index", "drinktypesAdmin", new { Area = "Admin" })>To drinktype</a>
<br />
<a href=@Url.Action("Index", "whatsupsAdmin", new { Area = "Admin" })>To whatsup</a>