@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<body>
    <!--banner-->
    <div class="container-fluid nopadding" style="position: relative; text-align: center;">
        <img src="~/Content/imgs/banner.jpg" width="100%">
    </div>
    <!--grid text+img-->
    <div id="text_img">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md nopadding"><img class="img-fluid" src="~/Content/imgs/coffee2.jpg" style="width: 100%; height: 100%"></div>
                <div class="col-md nopadding" style="padding-top: 5%;padding-bottom: 2%;background-image: url('../../Content/imgs/97 100 107.png')">
                    <h1>Title sample text</h1>
                    <div class="text_1">Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md nopadding" style="padding-top: 5%;padding-bottom: 2%;background-color: #EFEFF0">
                    <h2>Title sample text</h2>
                    <div class="text_2">Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text</div>
                </div>
                <div class="col-md nopadding"><img class="img-fluid" src="~/Content/imgs/coffee1.jpg" style="width: 100%; height:100%"></div>
            </div>
        </div>
    </div>
    <hr>
    <!--products-->
    <div id="products" style="text-align: center">
        <h3> - Featured Products - </h3>
        <span style="display: block; height: 60px"></span>
        <table class="footer" style="text-align: center">
            <tr>
                <td class="products"><img class="center" src="http://via.placeholder.com/300x300"></td>
                <td class="products"><img class="center" src="http://via.placeholder.com/300x300"></td>
                <td class="products"><img class="center" src="http://via.placeholder.com/300x300"></td>
            </tr>
            <tr>
                <td class="products"><img class="center" src="http://via.placeholder.com/300x300"></td>
                <td class="products"><img class="center" src="http://via.placeholder.com/300x300"></td>
                <td class="products"><img class="center" src="http://via.placeholder.com/300x300"></td>
            </tr>
        </table>
        <!--<div class="container h-100" style="text-align: center; height: auto;">
            <div class="row h-100 justify-content-center align-items-center">

                <div class="col-md products nopadding">
                    <img src="http://via.placeholder.com/300x300">
                    <div>Products 1</div>
                </div>
                <div class="col-md  products nopadding">
                    <img src="http://via.placeholder.com/300x300">
                    <div>Products 2</div>
                </div>
                <div class="col-md products nopadding">
                    <div>
                        <img src="http://via.placeholder.com/300x300">
                        <div>Products 3</div>
                    </div>
                </div>
            </div>
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md products nopadding">
                    <img src="http://via.placeholder.com/300x300">
                    <div>Products 1</div>
                </div>
                <div class="col-md products nopadding">
                    <img src="http://via.placeholder.com/300x300">
                    <div>Products 2</div>
                </div>
                <div class="col-md products nopadding">
                    <img src="http://via.placeholder.com/300x300">
                    <div>Products 3</div>
                </div>

            </div>
        </div>-->
        <span style="display: block; height: 40px"></span>

        <div style="text-align: center">
            <a class="gotobutton btn btn-outline-secondary" href="Coffee.html" role="button" style="">To Products</a>
        </div>
    </div>

    <hr>
    <!--galleries-->
    <!--<div id="galleries" class="container" style="display:none">
        <div class="row no-gutter">
            <div class="col nopadding"><img src="images%20(1).jpg"></div>
            <div class="col nopadding"><img src="images%20(2).jpg"></div>
            <div class="col nopadding"><img src="images.jpg"></div>
            <div class="col nopadding"><img src="images%20(3).jpg" width="200%"></div>
        </div>
        <div class="row">
            <div class="col"><img src=""></div>
            <div class="col"><img src=""></div>
            <div class="col"><img src=""></div>
            <div class="col"><img src=""></div>
        </div>
    </div>-->
    <!--replace galleries-->
    <div id="galleries">
        <h3 style="text-align: center"> - Galleries - </h3>
        <span style="display: block; height: 60px"></span>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/coffee2.jpg" style="width: 100%; height: 100%;"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/coffee2.jpg" style="width: 100%; height: 100%;"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/coffee2.jpg" style="width: 100%; height: 100%;"></div>
            </div>
            <div class="row">
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images%201.jpg" style="width: 100%; height: 100%;"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images%201.jpg" style="width: 100%; height: 100%;"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images%201.jpg" style="width: 100%; height:100%"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images%201.jpg" style="width: 100%; height: 100%;"></div>
            </div>
            <div class="row">
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images%204.jpg" style="width: 100%; height: 100%;"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images%205.jpg" style="width: 100%; height: 100%;"></div>
                <div class="col-md lightpadding"><img class="img-fluid" src="~/Content/imgs/images.jpg" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
        <span style="display: block; height: 40px"></span>

        <div style="text-align: center">
            <a class="gotobutton btn btn-outline-secondary" href="Galleries.html" role="button" style="">To Galleries</a>
        </div>
    </div>
    <div id="text_img">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md nopadding"><img class="img-fluid" src="~/Content/imgs/coffee4.jpg" style="width: 100%; height: 100%"></div>
                <div class="col-md nopadding" style="padding-top: 5%;padding-bottom: 2%;background-image: url('../../Content/imgs/97 100 107.png')">
                    <h1>Title sample text</h1>
                    <div class="text_1">Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md nopadding" style="padding-top: 5%;padding-bottom: 2%;background-color: #EFEFF0">
                    <h2>Title sample text</h2>
                    <div class="text_2">Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text</div>
                </div>
                <div class="col-md nopadding"><img class="img-fluid" src="~/Content/imgs/images-4.jpg" style="width: 100%; height:100%"></div>
            </div>
        </div>
    </div>
    <!--News-->
    <div class="news">
        <div class="row nopadding" style="overflow: hidden">
            <div class="col-sm"></div>
            <div class="col-sm text"><div class="header" style="float: left">Sample Text</div></div>
        </div>
        <span style="display: block; height: 80px"></span>

        <div class="row nopadding" style="overflow: hidden">
            <div class="col-sm"></div>
            <div class="col-sm text">
                <a class="link-news" href="">
                    <span style="float: left">
                        How much coffee do you need in 1 day?
                    </span>
                </a><span style="display: block; height: 60px"></span><span class="line3"></span>
            </div>
        </div>
        <div class="row nopadding" style="overflow: hidden">
            <div class="col-sm"></div>
            <div class="col-sm text">
                <a class="link-news" href="">
                    <span style="float: left">Coffee is literally the best thing ever</span>
                </a><span style="display: block; height: 60px"></span><span class="line3"></span>
            </div>
        </div>
        <div class="row nopadding" style="overflow: hidden">
            <div class="col-sm"></div>
            <div class="col-sm text">
                <a class="link-news" href="">
                    <span style="float: left">10 cups. Or more</span>
                </a><span style="display: block; height: 60px"></span><span class="line3"></span>
            </div>
        </div>
        <div class="row nopadding" style="overflow: hidden">
            <div class="col-sm"></div>
            <div class="col-sm text">
                <a class="link-news" href="">
                    <span style="float: left">Yes, coffee is good</span>
                </a><span style="display: block; height: 60px"></span><span class="line3"></span>
            </div>
        </div>
    </div>
    <!--about-->
    <!--end main-->
    <!--out of main-->

</body>

