@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>
    <!--banner-->
    <div class="container-fluid nopadding" style="position: relative; text-align: center;">
        <img src="~/Content/imgs/bannersmall.jpg" width="100%">
    </div>
    <div class="contact-page">

    </div>

    <!--Contact-->
    <div class="container-fluid" style="height: 100%">
        <div class="row">
            <div class="col-md nopadding ">
                <div class="something">more stuff</div>
            </div>
            <div class="col-md nopadding">
                <div class="something">more stuff</div>
            </div>
            <div class="col-md-6 nopadding ">
                <div class="contact">
                    <span style="display: block; height: 30px;"></span>
                    <div class="header">CONTACT ME</div>
                    <span class="line1"></span>
                    <div class="row" style="overflow: hidden">
                        <div class="col-sm text"><span class="fas fa-phone-square fa-lg"></span><b> Phone</b></div>
                        <div class="col-sm text"><span style="float: right">xxxxxxxxxxxxxxx</span></div>
                    </div>
                    <span class="line2"></span>
                    <div class="row" style="overflow: hidden">
                        <div class="col-sm text"><span class="fas fa-envelope-square fa-lg"></span><b> E-mail</b></div>
                        <div class="col-sm text "><span style="float: right">phamson11999977@gmail.com</span></div>
                    </div>
                    <span class="line2"></span>
                    <div class="row" style="overflow: hidden">
                        <div class="col-sm text"><span class="fas fa-external-link-square-alt fa-lg"></span><b> Address</b></div>
                        <div class="col-sm text "><span style="float: right">xxxxxxxxxxxxxx</span></div>
                    </div>
                    <span class="line2"></span>
                    <span style="display: block;height: 50px"></span>
                    <div class="text" style="font-size: 10px">Was poorly made by<span style="float: right">phs</span></div>
                    <br>
                </div>

            </div>
        </div>
    </div>
</body>